<header class="header">
  <div class="mobile-logo">
    <a class="mobile-logo__link" href="/">
      <img class="mobile-logo__img" src="/assets/images/logo.svg" alt="Merkbureau Bouma">
    </a>
  </div>
  <div class="menu-container">
    <div class="menu-top-wrapper">
      {% include 'header/top_menu.twig' %}
    </div>
    <div class="menu-wrapper menu-fixed">
      <div class="menu__logo">
        <a href="{% if fn('get_current_blog_id') == 1 %}/{% else %}/en{% endif %}"><img src="/assets/images/logo.svg" alt="Merkbureau Bouma"></a>
      </div>
      {% include 'header/main_menu.twig' %}
    </div>
  </div>
  {% set introduction = post.get_field('introduction') %}
  {% if introduction[0].text is not empty %}
  <div class="header-intro-block">
    <div class="header-text-block--left">
      <h1>{{ introduction[0].title|e }}</h1>
    </div>
    <div class="header-text-block--right">
      <p>{{ introduction[0].text|e }}</p>
    </div>
  </div>
  {% endif %}

  <div aria-hidden="true" class="circle quarter-top quarter--blue"></div>
  <div aria-hidden="true" class="circle quarter-bottom quarter--pink"></div>
  <span id="mobile-menu" class="menu-main-icon icon-menu"></span>
</header>
