<header class="header">
  <div class="menu-container">
    <div class="menu-top-wrapper">
      {% include 'header/top_menu.twig' %}
    </div>

    <div class="menu-wrapper menu-fixed">
      {% include 'header/main_menu.twig' %}
    </div>
  </div>
  {% set introduction = post.get_field('introduction') %}
  {% if introduction[0].text is not empty %}
  <div class="header-intro-block">
    <div class="header-text-block--left">
      <h1>
        <img class="homepage-logo" src="/assets/images/logo.svg" alt="Merkbureau Bouma">
      </h1>
    </div>
    <div class="header-text-block--right">
      <p>{{ introduction[0].text|e }}</p>
    </div>
  </div>
  {% endif %}

  <div aria-hidden="true" class="circle quarter-top quarter--blue"></div>
  <div aria-hidden="true" class="circle quarter-bottom quarter--pink"></div>
  <span id="mobile-menu" class="menu-main-icon icon-menu"></span>
</header>
