<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta charset="{{ site.charset }}" />

  <!--
      Developed by Hoppinger BV 2016
      http://www.hoppinger.com
  -->

  <title>{{ wp_title }}</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/images/favicon-128.png" sizes="128x128" />
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico"  />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico"  />
  <link rel="manifest" href="/images/manifest.json">
  <meta name="apple-mobile-web-app-title" content="Merkbureau Bouma" />
  <meta name="msapplication-TileColor" content="#28292B">
  <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#28292B">

  {{ function('wp_head') }}

  {% if constant( 'WP_ENV' ) in ['acceptance', 'production'] and constant( 'GA_ID' ) %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ constant( "GA_ID" ) }}', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('require', 'displayfeatures');
    </script>
  {% endif %}
