<nav class="menu-main">
  <ul class="menu-main__list">
    <li class="menu-main__item menu-main__mobile-home"><a class="menu-main__link" href="/">home</a></li>
  {% for item in main_menu.get_items %}
    <li class="menu-main__item page-{{ fn('sanitize_title', item.title) }}{{ item.classes | join(' ') }}">
      <a class="menu-main__link" href="{{ item.get_link }}">{{ item.title }}</a>
    </li>
  {% endfor %}
  </ul>
</nav>
