    <div id="mobile-menu-overlay" class="mobile-menu-overlay menu-closed">
      <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay__top">
          <ul class="mobile-lang__list">
            <li class="mobile-lang__list-item {% if fn('get_current_blog_id') == 1 %} current-menu-item{% endif %}"><a class="menu-top__link" href="/">NL</a></li>
            <li class="mobile-lang__list-item{% if fn('get_current_blog_id') == 2 %} current-menu-item{% endif %}"><a class="menu-top__link" href="/en">EN</a></li>
          </ul>
          {% include 'header/main_menu.twig' %}
        </div>
        <div class="mobile-menu-overlay__bottom">
          {% include 'header/top_menu.twig' %}
        </div>
      </div>
    </div>
