<nav class="menu-top">
  <ul class="menu-top__list">
    {% for item in top_menu.get_items %}
      <li class="menu-top__item active-{{ fn('sanitize_title', item.title) }}{{ item.classes | join(' ') }}">
        <a class="menu-top__link" href="{{ item.get_link }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    <li class="menu-top__item--language{% if fn('get_current_blog_id') == 1 %} current-menu-item{% endif %}"><a class="menu-top__link" href="/">NL</a></li>
    <li class="menu-top__item--language{% if fn('get_current_blog_id') == 2 %} current-menu-item{% endif %}"><a class="menu-top__link" href="/en">EN</a></li>
  </ul>
</nav>
