{% extends "base.twig" %}

{% block content %}
  <div class="article--{{ post.post_type }} content-wrapper">
    <section class="main-block main-block--seperator">
      <span aria-hidden="true" class="main-block__icon icon-flag"></span>
      {% include "breadcrumb.twig" %}
        <div class="main-block__content">
          {% include 'buildingblocks/buildingblocks.twig' %}
        </div>
    </section>
  </div>
{% endblock %}
