{% block html_head_container %}

{% include 'header/html-header.twig' %}
  {% block head %}
  {% endblock %}

  {% set ga_code = fn('bouma_get_google_analytics_code') %}
  {% if ga_code is not empty %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ ga_code }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
  </head>
{% endblock %}

  <body class="{{ body_class }}" data-template="base.twig">
    {% if fn('is_front_page') %}
      {% include 'header/homepage-header.twig' %}
    {% else %}
      {% include 'header/default-header.twig' %}
    {% endif %}
    <main class="container">
    <div aria-hidden="true" class="triangle quarter-top quarter--pink level-1"></div>
    <div aria-hidden="true" class="triangle quarter-bottom quarter--blue"></div>
      {% if fn('is_front_page') is empty  %}
      {% endif %}
      {% set has_content = block('content') %}
      {% if has_content is not empty %}
          {% block content %}{% endblock %}
      {% endif %}
    </main>

    {{ function('wp_footer') }}
    {% include 'footer.twig' %}
    {% include 'header/mobile_menu.twig'%}
  </body>
</html>
