<ul class="footer-menu">
{% for item in footer_menu.get_items %}
  <li class="footer-menu__item">
    <a href="{{ item.get_link }}">{{ item.title }}</a>
  </li>
{% endfor %}
</ul>
<p class="footer-copyright">© 2016 Bouma</p>
