<footer class="level-3">
  <div class="footer-inner">
    <div class="footer-block">
      <div class="footer-logo">
        <a href="{% if fn('get_current_blog_id') == 1 %}/{% else %}/en{% endif %}"><img src="/assets/images/logo-small-white.svg" alt="Merkenbureau Bouma"></a>
      </div>
      {% include 'footer_menu.twig' %}
    </div>

    <div class="footer-block">
      <div class="footer-title">
        {% if fn('get_current_blog_id') == 1 %}Volg ons op Twitter{% else %}Follow us on Twitter{% endif %}
      </div>
      <div class="footer-social-icon">
        <a href="https://twitter.com/BoumaNL" target="_blank">
          <span class="icon-twitter"></span>
        </a>
      </div>
    </div>

    <div class="footer-block">
      <div class="footer-title">
        {% if fn('get_current_blog_id') == 1 %}Aangesloten bij{% else %}Affiliated with{% endif %}
      </div>

      <ul class="footer-partners-list">
        <li class="footer-partners-list__item"><img alt="European Communities Trade Mark Association" src="/assets/images/logo-ecta.svg"></li>
        <li class="footer-partners-list__item"><img alt="International Trademark Association" src="/assets/images/logo-inta.svg"></li>
        <li class="footer-partners-list__item"><img alt="Beneluxvereniging voor Merken- en Modellenrecht" src="/assets/images/logo-bmm.svg"></li>
      </ul>
    </div>
  </div>
</footer>
