{% extends "base.twig" %}

{% block content %}
<div class="article--{{ post.post_type }} content-wrapper">

  <section class="main-block" itemscope="" itemtype="https://schema.org/Organization">
    <span aria-hidden="true" class="main-block__icon icon-flag"></span>
      {% include "breadcrumb.twig" %}
      <h1 itemprop="name">Merkenbureau Bouma</h1>
      <div class="contact-block">
        <div class="contact-block__location">
          <ul class="contact-block__item-list" itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
            <li><h2>Vestiging Rotterdam</h2></li>
            <li>Merkenbureau Bouma B.V.</li>
            <li>Beurs - WTC</li>
            <li><span itemprop="streetAddress">Beursplein 37</span></li>
            <li><span itemprop="postalCode">3011 AA</span> <span itemprop="addressLocality">ROTTERDAM</span></li>
            <li>Tel: <span itemprop="telephone"><a href="tel:0031108209809">+31 (010)-8 209 809</a></span></li>
            <li>Fax: <span itemprop="faxNumber"><a href="tel:0031108209808">+31 (010)-8 209 808</a></span></li>
            <li>E-mail: <a href="mailto:mailrotterdam@bouma.nl" itemprop="email">mailrotterdam@bouma.nl</a></li>
          </ul>
        </div>
        <div class="contact-block__location">
          <ul class="contact-block__item-list" itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
            <li><h2>Postadres</h2></li>
            <li>Merkenbureau Bouma Rotterdam</li>
            <li><span itemprop="streetAddress">Postbus 30177</span></li>
            <li><span itemprop="postalCode">3001 DD</span> <span itemprop="addressLocality">ROTTERDAM</span></li>
            <li>&nbsp;</li>
            <li>Merkenbureau Bouma B.V.</li>
            <li>Handelsregister 24277703</li>
            <li>Bank 48.77.08.741</li>
          </ul>
        </div>
        <div class="contact-block__location">
          <ul class="contact-block__item-list" itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
            <li><h2>Vestiging Arnhem</h2></li>
            <li>Merkenbureau Bouma B.V.</li>
            <li><span itemprop="streetAddress">Meander 251</span></li>
            <li><span itemprop="postalCode">6825 MC</span> <span itemprop="addressLocality">ARNHEM</span></li>
            <li>Tel: <span itemprop="telephone"><a href="tel:0031268200082">+31 (026)82 000 82</a></span></li>
            <li>E-mail: <a href="mailto:mailarnhem@bouma.nl" itemprop="email">mailarnhem@bouma.nl</a></li>
          </ul>
        </div>
      </div>
      <div class="maps-switcher">
        <ul class="maps-switcher__list">
          <li class="maps-switcher__list-item maps-rotterdam active-item">Rotterdam</li>
          <li class="maps-switcher__list-item maps-arnhem">Arnhem</li>
        </ul>
      </div>
      <div id="rotterdam" class="contact-block__maps show-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40851.99134073693!2d4.481653577793054!3d51.92328933896856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c4335f2b4532b3%3A0x49f4eed66067a20!2sMerkenbureau+Bouma!5e0!3m2!1snl!2snl!4v1473152221376" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div id="arnhem" class="contact-block__maps hide-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29183.717686349348!2d5.931566197428196!3d51.98263157873129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7af4128836a7d%3A0x41482ac8ab4f761!2sMerkenbureau+Bouma+BV!5e0!3m2!1snl!2snl!4v1473342749880" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="contact-block__social">
        <h2>Volg ons op</h2>
        <ul class="contact-block__social-list">
          <li class="contact-block__social-list-item"><a href="https://twitter.com/BoumaNL" target="_blank"><span class="icon-twitter"></span></a></li>
        </ul>
      </div>
  </section>
</div>
{% endblock %}
