{% extends "base.twig" %}

{% block content %}
<div class="article--{{ post.post_type }} content-wrapper">

  <section class="main-block push-down">
    <span aria-hidden="true" class="main-block__icon icon-flag"></span>
    {% include "breadcrumb.twig" %}
  {% set text_top = post.get_field('text_top') %}
  {% if text_top[0].title is not empty and text_top[0].text is not empty %}
    <div class="introduction">
      <h2>{{ text_top[0].title|e }}</h2>
      {% set introduction = post.get_field('page_introduction') %}
      {% if introduction is not empty %}
        <p class="main-block__intro-text">{{ introduction }}</p>
      {% endif %}
      {{ text_top[0].text }}
    </div>
  {% endif %}
  </section>
  {% set blocks = post.get_field('blocks') %}
  {% if blocks[0].title is not empty %}
  <section class="sub-block level-1">
    <h2 class="sub-block__title">{{ blocks[0].title }}</h2>
  {% endif %}
  {% if blocks[0].blocks is not empty %}
    <div class="region-block">
      {% for block in blocks[0].blocks %}
        <div class="region-block__item">
          <a href="{{ block.linked_page }}" title="{{ block.title|e }}">
            <h3 class="region-block__title">{{ block.title|e }}</h3>
            <p class="region-block__text">{{ block.description|e }}</p>
            <p class="region-block__link">Lees meer</p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  </section>

  {% set quote = post.get_field('quote') %}
  {% if quote[0].name is not empty and quote[0].image is not empty and quote[0].quote is not empty %}
    <section class="quote-block quote-block--left pull-up--m level-2">
      <div class="quote-block__image">
        <img alt="{{ quote[0].name|e }}" src="{{ TimberImage(quote[0].image).src('quote') }}" />
      </div>
      <div class="quote-block__content">
        <div class="quote-block__inner">
          <blockquote class="quote">{{ quote[0].quote|e }}</blockquote>
          <p class="quote-name">{{ quote[0].name|e }}</p>
        </div>
      </div>
    </section>
  {% endif %}

  {% set text = post.get_field('text') %}
  {% if text[0].title is not empty and text[0].text is not empty %}
    <section class="content-block pull-up--s">
      <div class="content-block__content level-2">
        <h2 class="content-block__title">{{ text[0].title|e }}</h2>
        <p class="content-block__text">{{ text[0].text }}</p>
      </div>
    </section>
  {% endif %}
</div>
{% endblock %}


