{% extends "base.twig" %}

{% block content %}
<div class="article--{{ post.post_type }} content-wrapper">

  <section class="main-block main-block--seperator">
    <span aria-hidden="true" class="main-block__icon icon-flag"></span>
    {% include "breadcrumb.twig" %}
    <h1>Weblog</h1>
      <div class="articles-block">
        <ul class="articles-block__list">
          {% for weblog in weblog_items %}
            <li class="articles-block__list-item">
              <article class="article-item article-item--weblog">
                <div class="article-item__content">
                  <a class="article-item__title-link" href="{{ weblog.link }}">
                    <h2 class="article-item__title">{{ weblog.post_title }}</h2>
                  </a>
                  <p class="article-item__meta">{{ weblog.type|e }} <time datetime="{{ weblog.post_date }}">{{ weblog.post_date|date("d-m-Y") }}</time></p>
                  {% set weblog_introduction = weblog.get_field('introduction') %}
                  <p class="article-item__excerpt">{{ weblog_introduction[0].text }}</p>
                  <a class="article-item__link" href="{{ weblog.link }}">Lees dit artikel</a>
                </div>
              </article>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="pagination">
        <ul class="pagination__list">
          <li class="pagination__list-item pagination__prev">
            {% if pagination.prev %}
              <a href="{{pagination.prev.link}}" class="btn-hollow-grey {{pagination.prev.link|length ? '' : 'invisible'}}">Vorige</a>
            {% else %}
              <span class="btn-hollow-grey disabled">Vorige</span>
            {% endif %}
          </li>

          {% for page in pagination.pages %}
            <li class="pagination__list-item ">
              {% if page.link %}
                <a href="{{page.link}}" class="btn-hollow-grey {{page.class}}">{{page.title}}</a>
              {% else %}
                <span class="btn-hollow-grey {{page.class}}">{{page.title}}</span>
              {% endif %}
            </li>
          {% endfor %}

          <li class="pagination__list-item pagination__next">
            {% if pagination.next %}
              <a href="{{pagination.next.link}}" class="btn-hollow-grey {{pagination.next.link|length ? '' : 'invisible'}}">Volgende</a>
            {% else %}
              <span class="btn-hollow-grey disabled">Volgende</span>
            {% endif %}
          </li>
        </ul>
      </div>
  </section>
</div>
{% endblock %}
