{% extends "base.twig" %}

{% block content %}
<div class="article--{{ post.post_type }} content-wrapper">

  <section class="main-block push-down">
    <span class="main-block__icon icon-flag"></span>
    {% include "breadcrumb.twig" %}
  {% set text = post.get_field('text') %}
  {% if text[0].title is not empty and text[0].text is not empty %}
    <div class="introduction">
      <h2>{{ text[0].title|e }}</h2>
      {% set introduction = post.get_field('page_introduction') %}
      {% if introduction is not empty %}
        <p class="main-block__intro-text">{{ introduction }}</p>
      {% endif %}
      {{ text[0].text }}
    </div>
  {% endif %}
  </section>
  {% set quote = post.get_field('quote') %}
  {% if quote[0].name is not empty and quote[0].image is not empty and quote[0].quote is not empty %}
    <section class="quote-block quote-block--left level-2">
      <div class="quote-block__image">
        <img alt="{{ quote[0].name|e }}" src="{{ TimberImage(quote[0].image).src('quote') }}" />
      </div>
      <div class="quote-block__content">
        <div class="quote-block__inner">
          <blockquote class="quote">{{ quote[0].quote|e }}</blockquote>
          <p class="quote-name">{{ quote[0].name|e }}</p>
        </div>
      </div>
    </section>
  {% endif %}

  {% set text_bottom = post.get_field('text_bottom') %}
  {% if text_bottom[0].title is not empty and text_bottom[0].text is not empty %}
    <section class="content-block level-2 pull-up--s">
      <div class="content-block__content">
        <h2 class="content-block__title">{{ text_bottom[0].title|e }}</h2>
        <p class="content-block__text">{{ text_bottom[0].text }}</p>
      </div>
    </section>
  {% endif %}
</div>
{% endblock %}


