{% extends "base.twig" %}

{% block content %}
<div class="article--{{ post.post_type }} content-wrapper">

  <section class="main-block">
    <span aria-hidden="true" class="main-block__icon icon-flag"></span>
    {% include "breadcrumb.twig" %}
  {% set services = post.get_field('services_overview') %}
  {% if services is not empty %}
    <div class="service-block">
      {% for service in services %}
        <div class="service-block__item">
          <a href="{{ service.linked_page.link }}" title="{{ service.title|e }}">
            <h2 class="service-block__item-title">{{ service.title|e }}</h2>
            <p class="service-block__item-text">{{ service.description|e }}</p>
            <p class="service-block__item-link">Lees meer</p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  </section>

  {% set quote = post.get_field('quote') %}
  {% if quote[0].name is not empty and quote[0].image is not empty and quote[0].quote is not empty %}
    <section class="quote-block quote-block--right pull-up--m level-1">
      <div class="quote-block__image">
        <img alt="{{ quote[0].name|e }}" src="{{ TimberImage(quote[0].image).src('quote') }}" />
      </div>
      <div class="quote-block__content">
        <div class="quote-block__inner level-1">
          <blockquote class="quote">{{ quote[0].quote|e }}</blockquote>
          <p class="quote-name">{{ quote[0].name|e }}</p>
        </div>
      </div>
    </section>
  {% endif %}
</div>
{% endblock %}
