{% extends "base.twig" %}

{% block content %}
<div class="article--{{ post.post_type }} content-wrapper">

  <section class="main-block">
    <span aria-hidden="true" class="main-block__icon icon-flag"></span>
    {% set pillars = post.get_field('pillars') %}
    {% if pillars is not empty %}
      <div class="pillar">
        {% for pillar in pillars %}
          <div class="pillar-item">
            <a class="pillar-item__link" href="{{ pillar.link_to_page }}" title="{{ pillar.title|e }}">
              <h2 class="pillar-item__title">{{ pillar.title|e }}</h2>
              <p class="pillar-item__content">{{ pillar.description|e }}</p>
              <p class="pillar-item__link-text">Lees meer</p>
            </a>
          </div>
        {% endfor %}
      </div>
      {% if fn('get_current_blog_id') == 1 %}
          <button type="button">
            <a href="/diensten">Bekijk alle diensten</a>
          </button>
      {% else %}
        <button type="button">
          <a href="/services">See all services</a>
        </button>
      {% endif %}
    {% endif %}
  </section>

  {% set quote = post.get_field('quote') %}
  {% if quote[0].name is not empty and quote[0].image is not empty and quote[0].quote is not empty %}
  <section class="quote-block pull-up--xs level-1 quote-block--left">
    <div class="quote-block__image">
      <img alt="{{ quote[0].name|e }}" src="{{ TimberImage(quote[0].image).src('quote') }}" />
    </div>
    <div class="quote-block__content level-2">
      <div class="quote-block__inner">
        <blockquote class="quote">{{ quote[0].quote|e }}</blockquote>
        <p class="quote-name">{{ quote[0].name|e }}</p>
      </div>
    </div>
  </section>
  {% endif %}


  {% set linked_content = post.get_field('linked_content') %}
  {% if linked_content[0].linked_case is not empty or linked_content[0].linked_weblog is not empty %}
  <section class="summary summary--full level-2">
    {% if linked_content[0].linked_case is not empty %}
    <a class="summary-link" href="{{ linked_content[0].linked_case.link }}" title="{{ linked_content[0].linked_case.title|e }}">
      <div class="summary-block">
        <div class="summary-type">
          case
        </div>
        <div class="summary-title summary-title__case">
          <h3>{{ linked_content[0].linked_case.title|e }}</h3>
        </div>
        <div class="summary-content">
          {% set case_introduction = linked_content[0].linked_case.get_field('introduction') %}
          {{ case_introduction[0].text|e }}
        </div>
        <div class="summary-read-more">
          {% if fn('get_current_blog_id') == 1 %}Lees deze case{% else %}Read this case{% endif %}
        </div>
      </div>
    </a>
    {% endif %}

    {% if linked_content[0].linked_weblog is not empty %}
    <a class="summary-link" href="{{ linked_content[0].linked_weblog.link }}" title="{{ linked_content[0].linked_weblog.title|e }}">
      <div class="summary-block">
        <div class="summary-type">
          weblog
        </div>
        <div class="summary-title summary-title__weblog">
          <h3>{{ linked_content[0].linked_weblog.title|e }}</h3>
        </div>
        <div class="summary-meta">
          {{ linked_content[0].linked_weblog.type|e }}, <time datetime="{{ linked_content[0].linked_weblog.post_date }}">{{ linked_content[0].linked_weblog.post_date|date("d-m-Y") }}</time>
        </div>
        <div class="summary-content">
          {{ linked_content[0].linked_weblog.introduction|e }}
        </div>
        <div class="summary-read-more">
          {% if fn('get_current_blog_id') == 1 %}Lees dit artikel{% else %}Read this article{% endif %}
        </div>
      </div>
    </a>
    {% endif %}
  </section>
  {% endif %}


  {% set facts = post.get_field('facts_and_figures') %}
  {% if facts is not empty %}
  <section class="grid-block pull-up--s level-2">
      <div class="fact-block">
        <ul class="fact-block__list">
          {% for fact in facts %}
            <li class="fact-block__list-item"><p class="fact-block__figure">{{ fact.figure|e }}</p><p class="fact-block__figure-type">{{ fact.description|e }}</p></li>
          {% endfor %}
        </ul>
      </div>
  </section>
  {% endif %}

  <section class="sub-footer-block">
    <div class="sub-footer-text-block--left">
      <blockquote>
        {% if fn('get_current_blog_id') == 1 %}
          Wilt u een merk of model beschermen? Of kunnen wij u ergens anders bij van dienst zijn? We helpen u graag
        {% else %}
          Want to protect a trademark or design? Or can we assist you with somewhere else? Let us help you
        {% endif %}
      </blockquote>
    </div>
    <div class="sub-footer-text-block--right">
      <div class="sub-footer-text">
        <div class="sub-footer-location">Rotterdam:</div>
        <div class="sub-footer-tel"><a href="tel:0108209809">010 - 8209 809</a></div>
        <div class="sub-footer-email"><a href="mailto:mailrotterdam@&shy;bouma.nl">mailrotterdam@bouma.nl</a></div>
      </div>
      <div class="sub-footer-text">
        <div class="sub-footer-location">Arnhem:</div>
        <div class="sub-footer-tel"><a href="tel:0268200082">026 - 8200 082</a></div>
        <div class="sub-footer-email"><a href="mailto:mailarnhem@&shy;bouma.nl">mailarnhem@bouma.nl</a></div>
      </div>
    </div>
  </section>

</div>
{% endblock %}
