{% extends "base.twig" %}

{% block content %}
<div class="article--{{ post.post_type }} content-wrapper">

  <section class="main-block main-block--seperator">
    <span aria-hidden="true" class="main-block__icon icon-flag"></span>
    {% include "breadcrumb.twig" %}
    <h1>Cases</h1>
    <div class="articles-block">
      <ul class="articles-block__list">
        {% for case in case_items %}
          <li class="articles-block__list-item">
            <article class="article-item article-item--weblog">
              <div class="article-item__content">
                <a class="article-item__title-link" href="{{ case.link }}">
                  <h2 class="article-item__title">{{ case.post_title|e }}</h2>
                </a>
                {% set case_introduction = case.get_field('introduction') %}
                <p class="article-item__excerpt">{{ case_introduction[0].text|e }}</p>
                <a class="article-item__link" href="{{ case.link }}">Lees deze case</a>
              </div>
            </article>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="pagination">
      <ul class="pagination__list">
        <li class="pagination__list-item pagination__prev">
          {% if pagination.prev %}
            <a href="{{pagination.prev.link}}" class="btn-hollow-grey {{pagination.prev.link|length ? '' : 'invisible'}}">Vorige</a>
          {% else %}
            <span class="btn-hollow-grey disabled">Vorige</span>
          {% endif %}
        </li>

        {% for page in pagination.pages %}
          <li class="pagination__list-item ">
            {% if page.link %}
              <a href="{{page.link}}" class="btn-hollow-grey {{page.class}}">{{page.title}}</a>
            {% else %}
              <span class="btn-hollow-grey {{page.class}}">{{page.title}}</span>
            {% endif %}
          </li>
        {% endfor %}

        <li class="pagination__list-item pagination__next">
          {% if pagination.next %}
            <a href="{{pagination.next.link}}" class="btn-hollow-grey {{pagination.next.link|length ? '' : 'invisible'}}">Volgende</a>
          {% else %}
            <span class="btn-hollow-grey disabled">Volgende</span>
          {% endif %}
        </li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}
