{% extends "base.twig" %}

{% block content %}
<div class="article--{{ post.post_type }} content-wrapper">

  <section class="main-block main-block--seperator">
    <span aria-hidden="true" class="main-block__icon icon-flag"></span>
    {% include "breadcrumb.twig" %}
  {% set text = post.get_field('text') %}
  {% if text[0].title is not empty and text[0].text is not empty %}
    <div class="text">
      <h2>{{ text[0].title|e }}</h2>
      {% set introduction = post.get_field('page_introduction') %}
      {% if introduction is not empty %}
        <p class="main-block__intro-text">{{ introduction }}</p>
      {% endif %}
      {{ text[0].text }}
    </div>
  {% endif %}
  {% set image = post.get_field('image') %}
  {% if image[0].title is not empty and  image[0].image is not empty %}
    <div class="about-us">
      <h2>{{ image[0].title }}</h2>
      <img alt="{{TimberImage(image[0].image)._wp_attachment_image_alt}}"class="about-us__image" src="{{ TimberImage(image[0].image).src('large') }}" />
    </div>
  {% endif %}
  </section>

  {% set facts = post.get_field('facts_and_figures') %}
  {% if facts is not empty %}
  <section class="grid-block grid-block--left pull-up--s level-2">
      <div class="fact-block">
        <ul class="fact-block__list">
          {% for fact in facts %}
            <li class="fact-block__list-item"><h2 class="fact-block__figure">{{ fact.figure|e }}</h2><p class="fact-block__figure-type">{{ fact.description|e }}</p></li>
          {% endfor %}
        </ul>
      </div>
  </section>
  {% endif %}
</div>
{% endblock %}
