{% extends "base.twig" %}

{% block content %}
<div class="article--{{ post.post_type }} content-wrapper">

  <section class="main-block main-block--seperator main-block__content">
    <span class="main-block__icon icon-flag"></span>
    {% include "breadcrumb.twig" %}
    <p class="article-item__meta">{{ post.type|e }} <time datetime="{{ post.post_date }}">{{ post.post_date|date("d-m-Y") }}</time></p>
    <h1>{{ post.title }}</h1>
    {% set introduction = post.get_field('page_introduction') %}
    {% if introduction is not empty %}
      <p class="main-block__intro-text">{{ introduction }}</p>
    {% endif %} 
    {% include 'buildingblocks/buildingblocks.twig' %}
  </section>

  {% set linked_content = post.get_field('linked_content') %}
  {% if linked_content[0].linked_case is not empty or linked_content[0].linked_weblog is not empty %}
  <div class="case-meta-content pull-up--l level-1">
    {% if linked_content[0].linked_employee is not empty %}
    <section class="grid-block employee-block">
      <h2 class="employee-block__title">{% if fn('get_current_blog_id') == 1 %}Wilt u meer weten?{% else %}Want to know more?{% endif %}</h2>
      <div class="blues employee-block__image">
        <img alt="{{TimberImage(linked_content[0].linked_employee.image)._wp_attachment_image_alt}}" src="{{ TimberImage(linked_content[0].linked_employee.image).src('employee') }}" />
      </div>
      <div class="employee-block-contact pull-up--xs level-1">
        <h2 class="employee-block__name">{{ linked_content[0].linked_employee.firstname|e }}</h2>
        <p class="employee-block__tel">{{ linked_content[0].linked_employee.phonenumber|e }}</p>
        <p class="employee-block__email"><a href="mailto:{{ linked_content[0].linked_employee.emailaddress }}">{{ linked_content[0].linked_employee.emailaddress }}</a></p>
      </div>
    </section>
    {% endif %}

    {% if linked_content[0].linked_case is not empty %}
    <section class="summary--case summary--single level-2">
      <a class="summary-link" href="{{ linked_content[0].linked_case.link }}" title="{{ linked_content[0].linked_case.title|e }}">
        <div class="summary-block">
          <div class="summary-type">
            case
          </div>
          <div class="summary-title summary-title__case">
            <h3>{{ linked_content[0].linked_case.title|e }}</h3>
          </div>
          <div class="summary-content">
            {% set case_introduction = linked_content[0].linked_case.get_field('introduction') %}
            {{ case_introduction[0].text }}
          </div>
          <div class="summary-read-more">
            {% if fn('get_current_blog_id') == 1 %}Lees deze case{% else %}Read this case{% endif %}
          </div>
        </div>
      </a>
    </section>
    {% endif %}
  </div>
  {% endif %}

  {% set quote = post.get_field('quote') %}
  {% if quote[0].name is not empty and quote[0].image is not empty and quote[0].quote is not empty %}
  <section class="quote-block quote-block--left">
    <div class="quote-block__image">
      <img alt="{{ quote[0].name|e }}" src="{{ TimberImage(quote[0].image).src('quote') }}" />
    </div>
    <div class="quote-block__content">
      <div class="quote-block__inner">
        <blockquote class="quote">{{ quote[0].quote|e }}</blockquote>
        <p class="quote-name">{{ quote[0].name|e }}</p>
      </div>
    </div>
  </section>
  {% endif %}
</div>
{% endblock %}
