{% if buildingblock.title %}
  <h2 class="buildingblock__title">{{ buildingblock.title }} </h2>
{% endif %}

{% if buildingblock.text %}
  <div class="buildingblock__body">
    {{ buildingblock.text|wpautop }}
  </div>
{% endif %}
