<div class="weblog-item">
  <h2>{{ buildingblock.title|e }}</h2>
  <img alt="{{ TimberImage(buildingblock.image)._wp_attachment_image_alt }}" class="weblog-item__image" src="{{ TimberImage(buildingblock.image).src('large') }}" />
</div>
