// ==========================================================================
// BASE - Buttons
// ==========================================================================

button {
  min-height: 50px;
  min-width: auto;
  width: 100%;
  border: 2px solid $congressblue;
  color: $congressblue;
  background: $transparant;
  font-size: 18px;
  padding: 12px 0;
  cursor: pointer;
  display: inline-block;
  margin-top: 40px;
  transition: $normal-transition;

  &:hover {
    background: $congressblue;
    color: white;

    a {
      color: white;
    }
  }

  a {
    text-decoration: none;
    color: $congressblue;
    transition: none;
  }
}


// ==========================================================================
// Min-width 320px
// ==========================================================================

@media (min-width: 320px) {
  button {
    min-width: 264px;
    width: auto;
    padding: 12px 50px;
    white-space: nowrap;
  }
}
