// ==========================================================================
// TOOLS - Helpers
// ==========================================================================

.active-item {
  color: $froly;
}

.white-icon {
  color: white !important;
}

.black-icon {
  color: black !important;
}

// ==========================================================================
// Blue image overlay modifier
// ==========================================================================

.blues {
  position: relative;
    &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    mix-blend-mode: color;
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $congressblue;
    mix-blend-mode: screen;
  }
}

.no-mix-blend {
  & .blues {
    &:before {
      background-color: $transparant;
      opacity: .4;
    }

    &:after {
      background-color: $congressblue;
      opacity: .4;
      mix-blend-mode: unset;
    }
  }
}

// ==========================================================================
// Overlay modifiers
// ==========================================================================
.pull-up--s {
  margin-top: 0;
}

.pull-up--s {
  margin-top: 0;
}

.pull-up--m {
  margin-top: 0;
}

.pull-up--l {
  margin-top: 0;
}

.pull-up--xl {
  margin-top: 0;
}

// ==========================================================================
// Push modifiers
// ==========================================================================
.push-down {
  margin-top: 0;
}


// ==========================================================================
// Min-width 968px
// ==========================================================================

@media (min-width: 968px) {
  .pull-up--xs {
    margin-top: -50px;
  }

  .pull-up--s {
    margin-top: -70px;
  }

  .pull-up--m {
    margin-top: -100px;
  }

  .pull-up--l {
    margin-top: -150px;
  }

  .pull-up--xl {
    margin-top: -190px;
  }

  .push-down {
    margin-bottom: 100px;
  }
}

// ==========================================================================
// Z-index modifiers
// Each level represents a layer. Starts from 10 (lowest) to 40 (highest)
// ==========================================================================

.level-1 {
  position: relative;
  z-index: 10;
}

.level-2 {
  position: relative;
  z-index: 20;
}

.level-3 {
  position: relative;
  z-index: 30;
}

.level-4 {
  position: relative;
  z-index: 40;
}


