// ==========================================================================
// SETTINGS - Fonts
// ==========================================================================

// ==========================================================================
// Karla - Google Fonts Import
// ==========================================================================

@import 'https://fonts.googleapis.com/css?family=Karla';

// ==========================================================================
//  Freight - Bold (700), Bold Italic & Black (800)
// ==========================================================================

@font-face {
  font-family: "Freight";
  src: url('../fonts/ft-pro-book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ft-pro-book.woff') format('woff'),
       url('../fonts/ft-pro-book.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: "Freight";
  src: url('../fonts/ft-pro-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ft-pro-bold.woff') format('woff'),
       url('../fonts/ft-pro-bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Freight";
  src: url('../fonts/ft-pro-bold-it.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ft-pro-bold-it.woff') format('woff'),
       url('../fonts/ft-pro-bold-it.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

// ==========================================================================
//  Iconmoon Icons
// ==========================================================================

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y6qbo2');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?y6qbo2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?y6qbo2') format('woff2'),
    url('../fonts/icomoon.woff?y6qbo2') format('woff'),
    url('../fonts/icomoon.svg?y6qbo2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-right:before {
  content: "\e409";
}
.icon-cross:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e901";
}
.icon-flag:before {
  content: "\e900";
}
.icon-diamond:before {
  content: "\e902";
}
.icon-house:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}



