// ==========================================================================
// SETTINGS - Variables
// ==========================================================================


// ==========================================================================
// Main Colors
// CSS Color names by http://chir.ag/projects/name-that-color/
// ==========================================================================

$froly: #F37173;
$cinderella: #FDE3E3;

$congressblue: #00508F;
$steelblue: #4582A6;
$botticelli: #C2D1DE;
$rockblue: #A2C0D2;

$alabaster: #FAFAFA;
$mineshaft: #2B2B2B;
$coal: #232323;
$white: #FFFFFF;
$black: #000000;

$transparant: rgba(255,255,255,0.0);

$color-base: $black;

// ==========================================================================
// Font Family
// ==========================================================================

$font-sans: 'Karla', Arial, sans-serif;
$font-serif: 'Freight', Georgia, serif;
$icons: 'icomoon';
$base-font-family: $font-sans;

$font-base: $font-sans;
$font-titles: $font-serif;

// ==========================================================================
// Font Sizes
// ==========================================================================

$fontsize-xsmall: 12px;

$fontsize-small: 14px;

$fontsize-base-mobile: 16px;
$fontsize-base: 16px;

$fontsize-intro-mobile: 13px;
$fontsize-intro-tablet: 14px;
$fontsize-intro: 48px;

$fontsize-h1-mobile: 28px;
$fontsize-h1: 30px;

$fontsize-h2-mobile: 24px;
$fontsize-h2: 24px;

$fontsize-h3-mobile: 18px;
$fontsize-h3: 20px;

$fontsize-h4-mobile: 16px;
$fontsize-h4: 18px;

$fontsize-h5-mobile: 16px;
$fontsize-h5: 16px;

$fontsize-h6-mobile: 14px;
$fontsize-h6: 15px;

$fontsize-quote-m: 26px;
$fontsize-quote-d: 30px;

// ==========================================================================
// Line Heights
// ==========================================================================

$lineheight-base: 1.5625;
$lineheight-intro: 1.5;
$lineheight-content: 1.88;
$lineheight-titles: 1.25;

// ==========================================================================
// Letter Spacings
// ==========================================================================

$letterspacing-base: 0.5px;
$letterspacing-titles: 1px;
$letterspacing-menu: 1.5px;
$letterspacing-quote: 2px;

// ==========================================================================
// Transition
// ==========================================================================

$normal-transition: all .3s ease;
$color-transition: color .3s ease;

