// ==========================================================================
// BLOCKS - Articles
// ==========================================================================

.articles-block__list {
  @extend %list-reset;
}

.articles-block__list-item {
  margin-bottom: 40px;
}

.article-item__title {
  margin-bottom: 10px;
  transition: $color-transition;

  &:hover {
    color: $froly;
  }
}

.article-item__title-link {
  text-decoration: none;
}

.article-item__link {
  &:hover {
    color: $froly;
  }
}

.article-item__meta {
  font-size: 16px;
  padding-bottom: 10px;
  color: $botticelli;
  margin-bottom: 5px;
}

.article-item__excerpt {
  margin-bottom: 10px;
}

// ==========================================================================
// Articles / FAQ
// ==========================================================================

.faq-block__list {
  @extend %list-reset;
}

.faq-block__answer {
  padding-left: 20px;
}
