// ==========================================================================
// BLOCKS - Breadcrumb
// ==========================================================================

.breadcrumb {
  display: none;
  position: absolute;
  top: 23px;
  left: 100px;
  font-size: $fontsize-xsmall;
  letter-spacing: $letterspacing-titles;
  color: $steelblue;
  text-transform: lowercase;

  a {
    text-decoration: none;

    &:hover {
      color: $froly;
    }
  }
}

.breadcrumb-list {
  @extend %list-reset;
}

.breadcrumb-list__item {
  display: inline;
  padding-left: 5px;

  a {
    color: $steelblue;
  }
}

.breadcrumb__house {
  color: $steelblue;
  font-size: 16px;
}

.breadcrumb__arrow {
  color: $botticelli;
  font-size: 16px;
}

.breadcrumb__text {
  position: relative;
  top: -3px;
}

// ==========================================================================
// Min-width 768px
// ==========================================================================

@media (min-width: 768px) {
  .breadcrumb {
    display: block;
  }
}
