// ==========================================================================
// BLOCKS / Contact
// ==========================================================================

.contact-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-block__item-list {
  @extend %list-reset;
}

.contact-block__location {
  margin-top: 20px;
}

.contact-block__social {
  margin: 50px 0;
}

.contact-block__social-list {
  @extend %list-reset;
  font-size: $fontsize-h1;
}

.contact-block__social-list-item {
  a {
    text-decoration: none;

    &:hover {
      color: $froly;
    }
  }
}

.maps-switcher {
  margin-top: 30px;
}

.maps-switcher__list {
  @extend %list-reset;
  padding-bottom: 30px;
}

.maps-switcher__list-item {
  text-decoration: underline;
  display: inline;
  cursor: pointer;
  transition: $color-transition;

  &:hover {
    color: $froly;
  }

  & + li {
    padding-left: 50px;
  }
}

.hide-map {
  display: none;
}

.show-map {
  display: block;
}
