// ==========================================================================
// BLOCKS - Figures (Them geometery lines)
// ==========================================================================

.circle {
  position: absolute;
  width: 350px;
  height: 350px;

  &.quarter-top {
    bottom: 0;
    right: 0;
    border-radius: 100% 0 0 0;
  }

  &.quarter-bottom {
    bottom: -520px;
    right: 0;
    border-radius: 0 0 0 100%;
  }
}

.triangle {
  position: absolute;
  width: 1200px;
  height: 1200px;
  display: none;

  &.quarter-top {
    top: 550px; // 1. 480 2. 850
    left: -800px; // -530
    transform: rotate(45deg)
  }

  &.quarter-bottom {
    top: 550px;
    left: -800px;
    transform: rotate(-45deg)
  }
}

.quarter-top {
  border-style: solid;
  border-top-width: 2px;
  border-left-width: 2px;
  border-bottom: 0;
  border-right: 0;
}

.quarter-bottom {
  border-style: solid;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-top: 0;
  border-right: 0;
}

.quarter--blue {
  border-color: $steelblue;
}

.quarter--pink {
  border-color: $cinderella;
}

// ==========================================================================
// Min-width 600px
// ==========================================================================

@media (min-width: 600px) {
  .triangle {
    display: block;
  }

  .circle {
    position: absolute;
    width: 400px;
    height: 400px;
  }
}

// ==========================================================================
// Min-width 768px
// ==========================================================================

@media (min-width: 768px) {
  .circle {
    position: absolute;
    width: 520px;
    height: 520px;
  }
}
