// ==========================================================================
// BLOCKS - Footer
// ==========================================================================

footer {
  height: auto;
  width: 100%;
  font-size: 14px;
  background: url(../images/footer-bg.svg);
  background-repeat: repeat;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  padding-top: 100px;
}

.footer-inner {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  margin-bottom: 50px;
}

.footer-block {
  width: 100%;

  & + .footer-block {
    padding-top: 50px;
  }
}

.footer-menu {
  @extend %list-reset;
}

.footer-menu__item {
  font-size: inherit;

  & + li {
    padding-top: 12px;
  }

  a {
    color: white;
    text-decoration: underline;
    transition: $color-transition;

    &:hover {
      color: $froly;
    }
  }
}

.footer-copyright {
  padding-top: 50px;
  padding-bottom: 20px;
  color: white;
  mix-blend-mode: overlay;
  position: absolute;
  bottom: 0;

  .ie-browser & {
    opacity: .2;
  }
}

.footer-title {
  color: white;
  font-size: inherit;
}

.footer-social-icon {
  padding-top: 25px;

  a {
    text-decoration: none;
  }

  span {
    color: white;
    transition: $normal-transition;
    font-size: 30px;

    &:hover {
      color: $froly;
    }
  }
}

.footer-partners-list {
  padding-left: 0;
  padding-bottom: 40px;
  margin: 25px 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-partners-list__item {
  & + li {
    padding-left: 50px;
  }

  img {
    mix-blend-mode: overlay;
  }

  .ie-browser & {
    img {
      opacity: .2;
    }
  }
}

// ==========================================================================
// Min-width 640px
// ==========================================================================

@media (min-width: 640px) {

  .footer-block {
    width: 50%;

    &:nth-child(3) {
      margin-top: 50px;
      width: 100%;
    }

    & + .footer-block {
      padding-top: 0;
    }

    &:nth-child(n+2) {
      padding-top: 31px;
    }
  }

}

// ==========================================================================
// Min-width 968px
// ==========================================================================

@media (min-width: 968px) {

  .footer-inner {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-partners-list {
    margin-bottom: 0;
  }

  .footer-block {
    min-height: 200px;
    width: 33%;

    &:nth-child(3) {
      margin-top: 0;
      width: 33%;
    }
  }

  .footer-copyright {
    position: relative;
  }
}

// ==========================================================================
// Min-width 1100px
// ==========================================================================

@media (min-width: 1100px) {
  footer {
    height: 100%;
    max-height: 400px;
  }

  .footer-inner {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
