// ==========================================================================
// BLOCKS - Grid block
// ==========================================================================

.grid-block {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: 0%;
  min-height: 200px;
  padding: 50px;
  position: relative;
  background: url(../images/grid-bg.svg);
  background-repeat: repeat;
}

.grid-block--left {
  margin-right: 0;
}

.grid-block--right {
  margin-left: 0;
}

// ==========================================================================
// Grid block / Fact variation
// ==========================================================================

.fact-block {
  text-align: center;
}

.fact-block__list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
}

.fact-block__list-item {
  display: inline-block;
  width: 50%;

  &:nth-child(n+3) {
    margin-top: 50px;
  }
}

.fact-block__figure {
  margin-bottom: 0;
  font-family: $font-sans;
  font-size: $fontsize-h2;
  color: $froly;
  font-weight: bold;
}

.fact-block__figure-type {
  margin: 0;
  font-family: $font-serif;
  font-weight: 500;
}

// ==========================================================================
// Grid block / Employee variation
// ==========================================================================

.employee-block {
  padding: 50px;
  height: 600px;
  max-height: 600px;
  width: auto;
}

.employee-block__title {
  padding-bottom: 35px;
  font-size: $fontsize-h1;
}

.employee-block__image {
  width: 200px;
  height: 240px;

  img {
    width: 200px;
    height: 240px;
  }
}

.employee-block-contact {
  padding-left: 100px;
  margin-top: -50px;
}

.employee-block__name {
  font-size: $fontsize-h2;
  font-family: $font-serif;
  color: $froly;
  font-weight: bold;
  padding-bottom: 25px;
}

.employee-block__tel,
.employee-block__email {
  margin: 0;
}

.employee-block__email {
  a {
    color: black;
    text-decoration: none;
  }
}

// ==========================================================================
// Min-width 640px
// ==========================================================================

@media (min-width: 640px) {

  .grid-block {
    padding: 100px;
  }

  .employee-block {
    padding: 100px;
  }
}

// ==========================================================================
// Min-width 968px
// ==========================================================================

@media (min-width: 968px) {
  .grid-block {
    width: 100%;
    max-width: 600px;
    flex: 1 1 0;
  }

  .grid-block--left {
    margin-right: 500px;
  }

  .grid-block--right {
    margin-left: 500px;
  }

  .fact-block__list-item {
    width: 100%;

    &:nth-child(n+3) {
      margin-top: 0;
    }

    & + li {
      padding-top: 50px;
    }
  }
}
