// ==========================================================================
// BLOCKS - Header
// ==========================================================================

header {
  background: $mineshaft;
  max-height: 900px;
  width: 100%;
  height: 900px;
  position: relative;
}

.header-intro-block {
  position: absolute;
  max-width: 1100px;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 0 50px;

  h1 {
    font-size: $fontsize-h1;
    color: $steelblue;
    font-weight: bold;
    font-style: italic;
  }

  p {
    font-size: $fontsize-base;
    color: white;
  }
}

.header-text-block--left {
  padding-right: 0;
}

.header-text-block--right {
  padding-left: 0;
}

.homepage-logo {
  display: none;
  height: 24px;
  width: auto;
  margin-bottom: 70px;

  .home & {
    display: block;
  }
}

// ==========================================================================
// Min-width 400px
// ==========================================================================

@media (min-width: 400px) {
  .homepage-logo {
    height: 31px;
  }
}

// ==========================================================================
// Min-width 640px
// ==========================================================================

@media (min-width: 640px) {
  .homepage-logo {
    height: 41px;
  }

  .homepage-intro-block {
    padding: 0 100px;

    p {
      font-size: $fontsize-h3;
    }
  }
}

// ==========================================================================
// Min-width 768px
// ==========================================================================

@media (min-width: 768px) {
  .homepage-logo {
    height: 62px;
  }

  .header-intro-block {
    top: 50%;
    h1 {
      font-size: $fontsize-intro;
    }

    p {
      font-size: $fontsize-h3;
    }
  }
}

// ==========================================================================
// Min-width 968px
// ==========================================================================

@media (min-width: 968px) {
  .header-intro-block {
    padding: 0;
  }

  .header-text-block--left {
    padding-right: 35%;
    padding-left: 50px;
  }

  .header-text-block--right {
    padding-left: 35%;
    padding-right: 50px;
  }
}

// ==========================================================================
// Min-width 1024px
// ==========================================================================

@media (min-width: 1024px) {

}

// ==========================================================================
// Min-width 1100px
// ==========================================================================


@media (min-width: 1100px) {
  .header-text-block--left {
    padding-left: 0;
  }

  .header-text-block--right {
    padding-right: 0;
  }
}
