// ==========================================================================
// BLOCKS - Layout
// ==========================================================================
.container{
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
  display: block;
  margin: -150px auto 0;
}

.content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-block {
  position: relative;
  background: url(../images/content-bg.svg);
  background-repeat: repeat;
  min-height: 200px;
  min-width: 100vw;
  left: calc(-50vw + 50%);
}

.content-block__content {
  width: 100%;
  margin:0 auto;
  padding: 50px
}

.content-block__title {
  font-size: $fontsize-h1;
}

.content-block__text {
  line-height: $lineheight-content;
}

.weblog-item {
  padding: 10px 0;
}

.weblog-item__image {
  width: 100%;
}

// ==========================================================================
// Min-width 968px
// ==========================================================================

@media (min-width: 968px) {
  .content-block__content {
    width: 100%;
    padding: 180px 50px;
  }
}

// ==========================================================================
// Min-width 1100px
// ==========================================================================

@media (min-width: 1100px) {
  .content-block__content {
    width: 1100px;
    padding: 180px 350px 180px 0;
  }
}
