// ==========================================================================
// BLOCKS - Main & Sub Blocks
// ==========================================================================

.main-block {
  background: url(../images/content-bg.svg);
  background-repeat: repeat;
  min-height: 200px;
  width: 100%;
  padding: 100px 50px 80px; //TODO: Was 290?
  position: relative;
  z-index: 10;

  .home & {
    margin-bottom: 0;
  }
}

.main-block__icon {
  position: absolute;
  left: 50px;
  top: 0;
  font-size: 42px;
  color: $froly;
}

.main-block--seperator {
  padding-right: 50px;
}

.main-block__intro-text {
  font-family: $font-sans;
  font-weight: normal;
  font-size: $fontsize-h4;
  color: black;
  line-height: 30px;
  padding-bottom: 20px;
}

.main-block__content {
  margin-bottom: 0;
}

.sub-block {
  width: 100%;
  min-height: 200px;
  padding: 50px;
  background: $cinderella;
}

.sub-block__title {
  margin-bottom: 50px;
  font-size: $fontsize-h1;
}

// ==========================================================================
// Main Block / Case variation
// ==========================================================================

.case-content {
  line-height: 30px;
}

.case-meta-content {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  width: 100%;
}

// ==========================================================================
// Main Block / Service variation
// ==========================================================================

.service-block,
.region-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.region-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-block__item {
  width: 100%;
  padding-right: 0;
  padding-top: 30px;
}

.region-block__item {
  width: 280px;
  padding-right: 20px;
}

.service-block__item,
.region-block__item {
  a {
    text-decoration: none;
    color: black;
    transition: $color-transition;
  }

  &:hover {
    .region-block__title,
    .service-block__item-title {
      color: $froly;
    }

    .region-block__text {
      color: black;
    }
  }
}
.service-block__item-text,
.region-block__text {
  margin-bottom: .5em;
}

.service-block__item-link,
.region-block__link {
  text-decoration: underline;
  margin: 0;

  &:hover {
    color: $froly;
  }
}

.service-block__item-title {
  font-size: $fontsize-h1;
}

.service-block__item-title,
.region-block__title {
  transition: $color-transition;
}

.region-block__title {
  font-size: $fontsize-h2;
  margin-bottom: 30px;
}

.region-block__link {
  margin-bottom: 65px;
}

// ==========================================================================
// Main Block / Over ons variation
// ==========================================================================

.about-us__image {
  width: 100%;
}

// ==========================================================================
// Min-width 480px
// ==========================================================================

@media (min-width: 480px) {

  .service-block__item {
    width: 50%;
    padding-right: 20px;
    padding-top: 0;
    &:nth-child(n+3) {
    margin-top: 20px;
    }
  }
}

// ==========================================================================
// Min-width 600px
// ==========================================================================

@media (min-width: 600px) {

  .service-block__item {
    width: 50%;
    padding-right: 20px;
    padding-top: 0;
    &:nth-child(n+3) {
    margin-top: 20px;
    }
  }
}

// ==========================================================================
// Min-width 640px
// ==========================================================================

@media (min-width: 640px) {

  .main-block {
    padding: 100px 50px;
    .home & {
      padding: 100px 100px 115px;
    }
  }
}

// ==========================================================================
// Min-width 700px
// ==========================================================================

@media (min-width: 700px) {
  .case-meta-content {
    flex-direction: row;
  }
}

// ==========================================================================
// Min-width 915px
// ==========================================================================

@media (min-width: 915px) {

  .service-block__item {
    width: 270px;
    padding-right: 0;

    &:nth-child(n+4) {
      margin-top: 20px;
    }

    &:nth-child(3) {
    margin-top: 0;
    }
  }

  .region-block {
    justify-content: space-between;
  }

  .sub-block {
    padding: 110px 100px;
  }

  .case-meta-content {
    padding-left: 65px;
  }
}

// ==========================================================================
// Min-width 968px
// ==========================================================================

@media (min-width: 968px) {
  .main-block {
    padding: 110px 100px 110px;
  }
  .main-block__content {
    padding-bottom: 280px
  }
}

// ==========================================================================
// Min-width 1024px
// ==========================================================================

@media (min-width: 1024px) {
  .sub-block {
    width: 900px;
    margin-left: 200px;
    min-height: 200px;
    background: $cinderella;
  }

  .region-block__item {
    width: 300px;
  }

  .main-block--seperator {
    padding-right: 350px;
  }
}
