// ==========================================================================
// BLOCKS - Menu
// ==========================================================================

.menu-wrapper {
  padding: 33px 85px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
  position: fixed;
  left: 0;
  top: 0;

  .home & {
    justify-content: flex-end;
  }
}

.menu__logo {
  .home & {
    display: none;
  }
}

.menu-main__list {
  list-style: none;
  color: white;
  text-transform: lowercase;
}

.menu-main__item {
  display: inline;
  & + li {
    padding-left: 80px;
  }

  a {
    letter-spacing: $letterspacing-menu;
    text-decoration: none;
    color: white;

    &:hover {
      color: $froly;
    }
  }
}

.current-menu-item,
.current-page-ancestor {
  a {
    color: $froly;
  }
}

// ==========================================================================
// BLOCKS - Top Menu
// ==========================================================================

.menu-top-wrapper {
  height: 50px;
  width: 100%;
  background: $coal;
  padding: 0 85px;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.menu-top__list {
  list-style: none;

  .current-menu-item a{
    color: $steelblue;
  }
}

.menu-top__item,
.menu-top__item--language {
  color: white;
  display: inline;
  font-size: $fontsize-small;
}

.menu-top__item {
  & + li {
    padding-left: 40px;
  }
}

.menu-top__link {
  color: $botticelli;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: $letterspacing-base;

  &:hover {
    color: $steelblue;
  }
}

.menu-top__item--language {
  display: none;

  .menu-top__link {
    color: white;
    text-transform: uppercase;
  }

  &.current-menu-item {
    .menu-top__link {
      color: $steelblue;
    }
  }
}



// ==========================================================================
// BLOCKS - Fixed Menu
// ==========================================================================

.menu-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  background: $mineshaft;
  z-index: 999;
  transition: top 0.3s ease-in-out;
}

.top-nav-difference {
  top: 50px;

  .admin-bar & {
    top: 82px;
  }
}

.nav-up {
  top: -123px; // same as menu height.
}

// ==========================================================================
// BLOCKS - Mobile Menu
// ==========================================================================

.menu-main-icon {
  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 18px;
  color: white;
  z-index: 999;

  &:hover {
    cursor: pointer;
  }
}

.menu-open {
  display: block;
  z-index: 800;
}

.menu-closed {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.mobile-menu-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.mobile-menu-overlay__top {
  position: relative;
  width: 100%;
  height: 100%;
  display: table-row;
}

.mobile-menu-overlay__bottom {
  width: 100%;
  background: $coal;
  display: table-row;

  & .menu-top {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0;
  }
}

.mobile-menu-overlay {
  width: 100vw;
  height: 100%;
  background: $mineshaft;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;

  .mobile-logo {
    margin-top: 50px;
  }

  .mobile-logo__img {
    height: 15px;
    width: auto;
  }

  .menu-main__list {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .menu-main__item {
    display: block;
    font-size: 24px;
    color: $cinderella;

    & + li {
      padding-left: 0;
      padding-top: 20px;
    }

    &:last-child {
      padding-bottom: 20px;
    }
  }

  .menu-top__list {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .menu-top__item {
    display: block;
    & + li {
      padding-left: 0;
      padding-top: 10px;
    }
  }

  .menu-top__item--language {
    position: absolute;
    top: 0;
  }

  .mobile-lang__list-item {
    & + li {
      padding-left: 20px;
    }
  }
}

.mobile-logo {
  padding: 50px;
  display: block;
}

.mobile-logo__img {
  height: 15px;
  width: auto;
}

.mobile-lang__list {
  margin: 50px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.mobile-lang__list-item {
  color: white;
  display: inline;

  a {
    text-transform: uppercase;
  }

  &.current-menu-item {
    a {
      color: $steelblue;
    }
  }
}

// ==========================================================================
// BLOCKS - Menu exceptions
// ==========================================================================

.page-cases,
.single-case {
  .menu-main .page-cases a {
    color: $froly;
  }
}

.blog .active-weblog {
  .menu-top__link {
    color: $steelblue;
  }
}

// ==========================================================================
// Min-width 600px Landscape
// ==========================================================================

@media (min-width: 500px) and (orientation: landscape) {

  .mobile-menu-overlay {
    .mobile-menu-overlay__bottom {
      padding: 10px 0;
    }

    .menu-top__item {
      display: inline;

      & + li {
        padding-left: 20px;
      }
    }
  }
}

// ==========================================================================
// Min-width 1024px
// ==========================================================================

@media (min-width: 1024px) {
  .menu-wrapper,
  .menu-top-wrapper {
    display: flex;
  }

  .menu-main-icon,
  .menu-open {
    display: none;
  }

  .mobile-logo {
    display: none;
  }

  .menu-top__item--language {
    display: inline;
  }

  .menu-main__mobile-home {
    display: none;
  }
}
