// ==========================================================================
// BLOCKS - Pagination
// ==========================================================================

.pagination__list {
  @extend %list-reset;
}

.pagination__list-item {
  display: inline;
  padding-right: 25px;

  .disabled {
    color: $botticelli;
  }

  a {
    color: black;
    text-decoration: underline;

    &:hover {
      color: $froly;
    }
  }

  .page-number.current {
    color: $froly;
    text-decoration: none;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      height: 30px;
      width: 30px;
      border: 1px solid $froly;
      border-radius: 50%;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
