// ==========================================================================
// BLOCKS - Pillars
// ==========================================================================

.pillar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.pillar-item {
  width: 100%;

  & + .pillar-item {
    margin-top: 50px;
  }
}

.pillar-item__title {
  font-size: $fontsize-h1;
}

.pillar-item__link {
  text-decoration: none;

  &:hover {
    .pillar-item__title {
      transition: $color-transition;
      color: $froly;
    }
  }
}

.pillar-item__link-text {
  text-decoration: underline;
  &:hover{
    color: $froly;
  }
}

.pillar-item__content {
  color: black;
  margin-bottom: .5em;
}

// ==========================================================================
// Min-width 600px
// ==========================================================================

@media (min-width: 600px) {
  .pillar-item {
    width: 400px;
  }
}

// ==========================================================================
// Min-width 768px
// ==========================================================================

@media (min-width: 768px) {
  .pillar {
    flex-direction: row;
  }

  .pillar-item {
    width: 270px;
    padding-right: 10px;

    & + .pillar-item {
      margin-top: 0;
    }
  }
}
