// ==========================================================================
// BLOCKS - Quote block
// ==========================================================================

.quote-block {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 50px;
}

.quote-block__image {
  position: relative;
  max-width: 188px;
  max-height: 188px;

  img {
    max-width: 188px;
    max-height: 188px;
  }

  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    mix-blend-mode: color;
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $congressblue;
    mix-blend-mode: screen;
  }
}

.no-mix-blend {
  & .quote-block__image {
    position: relative;
    min-width: 188px;
    max-width: 188px;
    max-height: 188px;

    img {
      max-width: 188px;
      max-height: 188px;
      width: 100%;
      height: 100%;
    }

    &:before {
      background-color: $transparant;
      opacity: .4;
    }

    &:after {
      background-color: #5fb2ed;
      opacity: .3;
      mix-blend-mode: unset;
    }
  }
}

.quote-block__content {
  position: relative;
  width: 100%;
  margin-top: -35px;
  padding-left: 55px;
}

.quote-block__inner {
  position: relative;
  width: 100%;
}

.quote {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 5px;
  margin: 0;
}

.quote-name {
  color: $froly;
  font-size: $fontsize-small;
  position: relative;
}

.quote-block--left {
  margin-right: 0;

  .quote-block__image {
    order: 1;
  }

  .quote-block__content {
    order: 2;
  }

  .quote {
    margin-left: 0;
  }

  .quote-name {
    color: $froly;
    position: relative;
    margin-left: 55px;

    &:before {
      position: absolute;
      content: '\e902';
      font-family: $icons;
      left: -32px;
    }
  }
}

.quote-block--right {
  margin-left: 0;

  .quote-block__image {
    order: 1;
  }

  .quote-block__content {
    order: 2;
  }

  .quote-name {
    color: $froly;
    position: relative;
    // margin-right: 24px;
    text-align: left;
    margin-left: 55px;

    &:before {
      position: absolute;
      content: '\e902';
      font-family: $icons;
      left: -32px;
    }
  }
}

// ==========================================================================
// Min-width 640px
// ==========================================================================

@media (min-width: 640px) {

  .quote-block {
    padding: 0;
    flex-direction: row;
  }

  .quote-block__content {
    padding: 0;
  }

  .quote {
    padding-bottom: 25px;
  }

  .quote-block__image {
    max-width: 400px;
    max-height: 400px;

    img {
      max-width: 400px;
      max-height: 400px;
    }
  }

  .no-mix-blend {
    & .quote-block__image {
      max-width: 400px;
      max-height: 400px;
      min-width: 400px;

      img {
        max-width: 400px;
        max-height: 400px;
      }
    }
  }

  .quote-block__inner {
    position: absolute;
    // bottom: 140px;
    top: 60%;
    transform: translateY(-50%);
  }

  .quote-block--left {
    margin-right: 0;

    .quote {
      margin-left: -120px;
    }

    .quote-name {
      margin-left: 24px;
      font-size: $fontsize-base;
    }

    .quote-block__content {
      padding-right: 50px;
    }

    .quote-block__inner {
      padding-right: 50px;
    }
  }

  .quote-block--right {
    margin-left: 0;

    .quote-block__image {
      order: 2;
    }

    .quote {
      margin-right: -120px;
      margin-left: 15px;
    }

    .quote-block__content {
      padding-left: 50px;
      order: 1;
    }

    .quote-block__inner {
      padding-left: 0;
    }

    .quote-name {
      color: $froly;
      position: relative;
      margin-right: 74px;
      text-align: right;
      margin-left: 0;

      &:before {
        position: absolute;
        content: '\e902';
        font-family: $icons;
        right: -32px;
        left: auto;
      }
    }
  }
}


// ==========================================================================
// Min-width 768px
// ==========================================================================

@media (min-width: 768px) {

  .quote-block__image {
    max-width: 500px;
    max-height: 500px;

    img {
      max-width: 500px;
      max-height: 500px;
    }
  }

  .no-mix-blend {
    & .quote-block__image {
      max-width: 500px;
      max-height: 500px;
      min-width: 500px;

      img {
        max-width: 500px;
        max-height: 500px;
      }
    }
  }
}

// ==========================================================================
// Min-width 1100px
// ==========================================================================

@media (min-width: 1100px) {
  .quote-block--left {
    margin-right: 100px;

    .quote-block__content {
      padding-right: 0;
    }

    .quote-block__inner  {
      padding-right: 0;
    }
  }

  .quote-block--right {
    margin-left: 100px;

    .quote-block__content {
      padding-left: 0;
    }

    .quote-block__inner  {
      padding-left: 0;
    }

    .quote-name {
      margin-right: 24px;
    }
  }
}

