// ==========================================================================
// BLOCKS - Sub footer
// ==========================================================================

.sub-footer-block {
  width: 100%;
  padding: 50px;

  h1 {
    font-size: $fontsize-h1;
    color: $congressblue;
    font-weight: bold;
    font-style: italic;
  }
}

.sub-footer-text-block--left {
  padding-right: 0;
  margin-bottom: 50px;

  blockquote {
    margin: 0;
    &:before {
      content: '';
    }

    &:after {
      content: '';
    }
  }
}

.sub-footer-text-block--right {
  padding-left: 0;
}

.sub-footer-text {
  margin: 0;

  & + .sub-footer-text {
    margin-top: 50px;
  }
}

.sub-footer-location,
.sub-footer-tel,
.sub-footer-email {
  display: block;
  font-size: $fontsize-h3;
  color: $froly;

  a {
    color: $froly;
    text-decoration: none;

    &:hover {
      color: $congressblue;
    }
  }
}

.sub-footer-location {
  width: 90px;
}

.sub-footer-tel {
  width: 180px;
}

.sub-footer-tel,
.sub-footer-email {
  padding-left: 0;
}

// ==========================================================================
// Min-width 768px
// ==========================================================================

@media (min-width: 768px) {

  .sub-footer-location,
  .sub-footer-tel,
  .sub-footer-email {
    display: inline-block;
  }

  .sub-footer-tel,
  .sub-footer-email {
    padding-left: 30px;
  }

  .sub-footer-text-block--left {
    margin-bottom: 0;

    blockquote {
      margin: 40px;
    }
  }

  .sub-footer-text {

    & + .sub-footer-text {
      margin-top: 0;
    }
  }
}

// ==========================================================================
// Min-width 968px
// ==========================================================================

@media (min-width: 968px) {

  .sub-footer-block {
    width: 100%;
    padding: 110px 100px 0;
  }
}

// ==========================================================================
// Min-width 1024px
// ==========================================================================

@media (min-width: 1024px) {

}

// ==========================================================================
// Min-width 1100px
// ==========================================================================


@media (min-width: 1100px) {
  .sub-footer-block {
    padding: 110px 0 0;
  }

  .sub-footer-text-block--left {
    padding-right: 40%;
    // padding-left: 50px;
  }

  .sub-footer-text-block--right {
    padding-left: 40%;
    // padding-right: 50px;
  }
}
