// ==========================================================================
// BLOCKS - Summary block
// ==========================================================================

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 50px;
  background: url(../images/content-bg.svg);
  background-repeat: repeat;
}

.summary--case,
.summary--single {
  background: $transparant;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.summary--case {
  padding: 100px 35px;
}

.summary--single {
  padding: 100px 35px;
}

.summary--full {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    background: url(../images/content-bg.svg);
    background-repeat: repeat;
    left: calc(-50vw + 100%);
    min-width: 120vw;
    height: 100%;
    z-index: -1;
  }
}

.summary-link {
  color: none;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.summary--left {
  float: left;
}

.summary--right {
  float: right;
}

.summary-block {
  width: auto;
  margin-bottom: 50px;
  padding-right: 0;
}

.summary-type {
  text-transform: uppercase;
  color: $froly;
  letter-spacing: 2px;
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: bold;
}

.summary-title {
  h3 {
    font-size: $fontsize-h2;
    transition: $color-transition;
    margin:0;
  }
}

.summary-title__case {
  padding-bottom: 15px;
}

.summary-title__weblog {
  padding-bottom: 5px;
}

.summary-meta {
  font-size: 14px;
  padding-bottom: 10px;
  color: $rockblue;
}

.summary-content {
  padding-bottom: 5px;
  line-height: $lineheight-intro;
  color: black;
}

.summary-read-more {
  text-decoration: underline;
  color: black;
  transition: $normal-transition;

  &:hover {
    color: $froly;
  }
}

// ==========================================================================
// Min-width 400px
// ==========================================================================

@media (min-width: 400px) {
  .summary-block {
    width: 300px;
  }
}

// ==========================================================================
// Min-width 600px
// ==========================================================================

@media (min-width: 600px) {
  .summary {
    flex-direction: row;
    width: 100%;
  }

  .summary-block {
    margin-bottom: 0;
    padding-right: 50px;
  }
}

// ==========================================================================
// Min-width 700px
// ==========================================================================

@media (min-width: 700px) {
  .summary--single {
    padding: 180px 35px;
  }

  .summary-case {
    align-items: flex-start;
    padding: 200px 35px;
  }
}

// ==========================================================================
// Min-width 968px
// ==========================================================================

@media (min-width: 968px) {
  .summary {
    flex-direction: column;
    width: 500px;
    padding: 100px;
  }

  .summary-block {
    margin-bottom: 50px;
    padding-right: 0;
  }
}

// ==========================================================================
// Min-width 1100px
// ==========================================================================


@media (min-width: 1100px) {

}
